:root {
  --fs-standard: 1.3rem;
  --fs-title: 3rem;
  --clr-back: white;
  --clr-card: #a0baa3;
  --clr-card-alt: #31493c;
  --clr-back-alt: #d8e4ff;
  --clr-accent: #3083dc;
  --clr-main-text: black;
  --clr-hover-text: white;
  --clr-button: #767cc1;
  /*https://coolors.co/d8e4ff-3083dc-a0baa3-31493c-ecebf3*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
}

html {
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--clr-back);
  font-weight: 400;
}

/* NAV STYLES */
.header {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3); /*The rgba value is RGB but with an opacity value.*/
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 5rem;
  background-color: var(--clr-back);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  font-family: "Bodoni Moda", serif;
  font-size: 3rem;
  padding: 0.2rem 1.5rem;
}

.link {
  text-decoration: none;
  cursor: default;
}


.nav-list {
  position: fixed;
  top: 5rem;
  display: flex;
  flex-flow: column wrap;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 0.3s;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  background-color: var(--clr-back);
  text-align: end;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
}

.nav-list.active {
  transform: scale(1, 1);
}

.logo:visited {
  color: var(--clr-main-text);
}

.hamburger {
  background-color: var(--clr-back);
  border: none;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  margin: 0 1.2rem;
}

.hamburger:hover {
  background-color: var(--clr-main-text);
  color: var(--clr-hover-text);
}

.list-item {
  list-style: none;
  padding: 0.5rem 0;
}

.nav-link {
  color: inherit;
}

.nav-link:visited {
  color: var(--clr-main-text);
}

.nav-link:hover {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}



/* SECTION STYLES */

.section {
  padding: 1.8rem 1.8rem 6rem 1.8rem;
}

.about {
  background-color: var(--clr-back);
}

.hero-h1 {
  font-size: clamp(8rem, 30vw, 20rem);
  padding: 2rem 0 5rem 0;
}

.previous-work {
  background-color: var(--clr-card-alt);
  color: var(--clr-back);
}

.h3 {
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

.divider {
  margin: 3rem auto 2rem auto;
  padding: 0.1rem;
  width: 20%;
  background-color: var(--clr-back-alt);
}

.projects {
  background-color: var(--clr-back-alt);
}

.section-title {
  font-size: 2.6rem;
  padding: 2rem 0;
}

.main-text {
  font-size: var(--fs-standard);
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.img-card {
  max-width: 600px;
  background-color: var(--clr-back);
  border-radius: 10px;
  margin: 3rem auto 0 auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.card-info {
  padding: 1.5rem;
  display: flex;
  flex-flow: column wrap;
}

.img-title {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.img-caption {
  font-size: 1.2rem;
  padding: 0 0 1.5rem 0;
}

.git-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-button);
  align-self: end;
  color: var(--clr-back);
  transition: 0.5s;
  margin: 1rem;
}

.git-btn:hover {
  background-color: var(--clr-back-alt);
  color: var(--clr-button);
}

.git-link {
  color: inherit;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.git-link:visited {
  color: inherit; /*This will inherit the color style from the parent's styles when visited.*/
}


.form-group {
  display: flex;
  flex-flow: column nowrap;
}

.form-element {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem 0;
}

.label {
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.input {
  padding: 1rem 0.7rem;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.input:focus, .input:active {
  outline: none;
  border-bottom: 2px solid var(--clr-button);
}

.textbox {
  height: 8rem;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  padding: 2rem 0;
}

.form-btn {
  padding: 1rem 1.5rem;
  width: 48%;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: var(--clr-button);
  color: var(--clr-back);
  transition: .3s;
}

.form-btn:hover {
  background-color: var(--clr-back-alt);
  color: var(--clr-button);
}





/* FOOTER STYLES */

.footer {
  text-align: center;
  background-color: var(--clr-back);
  padding: 1rem;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

.contact-btn {
  border: none;
  border-radius: 50%;
  background-color: #373F43;
  color: var(--clr-back);
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: var(--clr-button);
}

.btn-link {
  width: 90px; 
  padding: 1.6rem;
  color: inherit;
}

.copyright {
  font-size: 1.5rem;
  padding: 1rem 0 2rem 0;
}

@media (min-width: 1024px) {

  html {
    scroll-padding-top: 0;
  }

  .header {
    position: static;
    box-shadow: none;
  }

  .hamburger {
    display: none;
  }

  .nav-list {
    position: static;
    justify-content: flex-end;
    flex-flow: row wrap;
    background-color: inherit;
    gap: 2.5rem;
    padding: 0;
    margin-right: 3rem;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .section-content {
    width: 50%;
    margin: auto;
  }

  .hero-h1 {
    font-size: clamp(8rem, 20vw, 16rem);
  }

  #projects-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
  }

  .img-card {
    max-width: 450px;
    margin: 0;
  }
};
