:root {
  --fs-standard: 1.3rem;
  --fs-title: 3rem;
  --clr-back: white;
  --clr-card: #a0baa3;
  --clr-card-alt: #31493c;
  --clr-back-alt: #d8e4ff;
  --clr-accent: #3083dc;
  --clr-main-text: black;
  --clr-hover-text: white;
  --clr-button: #767cc1;
  --clr-button-alt: #373f43;
  --clr-gray: dimgray;
  /*https://coolors.co/d8e4ff-3083dc-a0baa3-31493c-ecebf3*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--clr-back);
  font-weight: 400;
}

/* NAV STYLES */
.header {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3); /*The rgba value is RGB but with an opacity value.*/
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 5rem;
  background-color: var(--clr-back);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  font-family: "Bodoni Moda", serif;
  font-size: 3rem;
  padding: 0.2rem 1.5rem;
}

.logo:visited {
  color: var(--clr-main-text);
}

.link {
  text-decoration: none;
  cursor: default;
}

.nav-list {
  position: fixed;
  top: 5rem;
  display: flex;
  flex-flow: column wrap;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 0.3s;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  background-color: var(--clr-back);
  text-align: end;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
}

.nav-list.active {
  transform: scale(1, 1);
}

.list-item {
  list-style: none;
  padding: 0.5rem 0;
}

.nav-link {
  color: inherit;
}

.nav-link:visited {
  color: var(--clr-main-text);
}

.nav-link:hover {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.main-text {
  font-size: var(--fs-standard);
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.hamburger {
  background-color: var(--clr-back);
  border: none;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  margin: 0 1.2rem;
}

.hamburger:hover {
  background-color: var(--clr-main-text);
  color: var(--clr-hover-text);
}

/* SECTION STYLES */

.section {
  padding: 3rem 1.8rem 6rem 1.8rem;
}

.about {
  background-color: var(--clr-back);
}

.about-hero {
  display: flex;
  flex-flow: column nowrap;
}

.hero-img {
  max-width: 400px;
  width: 80vw;
  border-radius: 50%;
  margin: 0 auto;
}

.hero-text {
  padding: 6rem 0 0 0;
}

.hero-h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.hero-h2 {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.previous-work {
  background-color: var(--clr-card-alt);
  color: var(--clr-back);
}

.section-title {
  font-size: 2.6rem;
  padding: 3rem 0 4rem 0;
}

.work-title {
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

.divider {
  margin: 3rem auto 2rem auto;
  padding: 0.1rem;
  width: 20%;
  background-color: var(--clr-back-alt);
}

.projects {
  background-color: var(--clr-back-alt);
}

.img-card {
  max-width: 600px;
  background-color: var(--clr-back);
  border-radius: 10px;
  margin: 3rem auto 0 auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.card-info {
  padding: 1.5rem;
  display: flex;
  flex-flow: column wrap;
}

.img-title {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.img-caption {
  font-size: 1.2rem;
  padding: 0 0 1.5rem 0;
}

.git-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-button);
  align-self: end;
  color: var(--clr-back);
  transition: 0.5s;
  margin: 1rem;
}

.git-btn:hover {
  background-color: var(--clr-back-alt);
  color: var(--clr-button);
}

.git-link {
  color: inherit;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.git-link:visited {
  color: inherit; /*This will inherit the color style from the parent's styles when visited.*/
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
}

.form-element {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem 0;
}

.form-label {
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.form-input {
  padding: 1rem 0.7rem;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.form-input:focus,
.form-input:active {
  outline: none;
  border-bottom: 2px solid var(--clr-button);
}

.form-input:focus::placeholder {
  color: transparent;
}

.form-textbox {
  height: 8rem;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  padding: 2rem 0;
}

.form-btn {
  padding: 1rem 1.5rem;
  width: 48%;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: var(--clr-button);
  color: var(--clr-back);
  transition: 0.3s;
}

.form-btn:hover {
  background-color: var(--clr-back-alt);
  color: var(--clr-button);
}

/* FOOTER STYLES */

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: flex-end;
  background-color: var(--clr-back);
  padding: 2rem;
}

.copyright {
  font-size: 1rem;
  color: var(--clr-gray);
}

.info-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}

.info-btn {
  border: none;
  border-radius: 20px;
  background-color: var(--clr-button-alt);
  color: var(--clr-back);
  transition: 0.3s;
}

.info-btn:hover {
  background-color: var(--clr-button);
}

.info-btn-link {
  width: 4rem;
  padding: 0.8rem;
  color: inherit;
}

@media (min-width: 1024px) {
  html {
    scroll-padding-top: 0;
  }

  .header {
    position: static;
    box-shadow: none;
    padding: 1rem;
    height: auto;
  }

  .hamburger {
    display: none;
  }

  .nav-list {
    position: static;
    justify-content: flex-end;
    flex-flow: row wrap;
    background-color: inherit;
    gap: 2.5rem;
    padding: 0;
    margin-right: 3rem;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .section {
    padding: 5rem 1.8rem 9rem 1.8rem;
  }

  .about {
    padding-top: 6rem;
  }

  .section-content {
    width: 60%;
    margin: auto;
  }

  .projects-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
  }

  .img-card {
    max-width: 450px;
    margin: 0;
  }

  .copyright {
    font-size: var(--fs-standard);
  }
}

@media (min-width: 1700px) {
  .about-hero {
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;
  }
  .hero-text {
    max-width: 50%;
    padding: 0;
  }

  .hero-img {
    margin: 0;
  }
}
